<template name="bsmodal">
	<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title app-title">{{title}}</h5>
      </div>
      <div class="modal-body">
        {{> UI.dynamic template=modalTemplate data=modalData}}
      </div>

      {{#unless noFooter}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-ynpole" data-dismiss="modal">Okay</button>
      </div>
      {{/unless}}
    </div>
</template>