<template name="ynheader">
  <nav class="yn-nav">
    <div class="brand-bg">
      <a role="logo" class="brand-name" href="/">Ynpole</a>
    </div>

    <div class="yn-search">
      <input type="text" class="ynpole-input" id="search-input" placeholder="Search">
      <span class="fa fa-search input-right-icon"></span>
    </div>

    <div class="yn-navbar">
      <ul class="yn-menu">
        {{#if currentUser}}
        <li><a href="/"><i class="fa fa-home yn-fa-nav" style="font-size:21px;vertical-align:bottom;margin-top:-1px;"></i> Home</a></li>
        <li style="margin-top:2px;">
          <a role="button">
            <i class="fa fa-bell yn-fa-nav" style="font-size:16px;margin-top:1px;"></i> Notifications
            {{#if notificationCount}}
              <span class="count-badge">{{notificationCount}}</span>
            {{/if}}
          </a>
        </li>
        <li>
          <a class="nav-current-user" role="button">{{> avatar user=currentUser size="extra-small"}} {{currentUser.profile.name}}</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>

<div class="pop-nav-dropdown">
  <div class="nav-dropdown"></div>
</div>
</template>

<template name="userMenu">
  <div class="nav-menu-list">
    <ul>
      <li><a href="{{pathFor 'profile' _id=userId}}">Profile</a></li>
      <li>Messages</li>
      <li>Followers</li>
      <li>Following</li>
      <li class="logout">Logout</li>
    </ul>
  </div>
</template>