<head>
	<title>Welcome to Ynpole</title>
</head>

<template name='landing'>
	<div id="landing-body">
		<div class="ynpole-div">
			<a href="/" class="ynpole-txt">Ynpole</a>
		</div>
		<div class="ynpole-desc">
			<span>Get choices or decisions reviewed from your social network</span>
		</div>
	</div>
	{{> yield }}
	{{> yield 'loginTemplate'}}

	<div class="err-arrow-box">
		<span class="err-msg"></span>
	</div>

	<div id="verifyModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Header</h4>
	      </div>
	      <div class="modal-body">
	        <p>Some text in the modal.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
</template>