<head>
	<title>Welcome to Ynpole</title>
</head>

<template name='landing'>
	<div id="landing-body">
		<div class="ynpole-logo">
			<a href="/" class="ynpole-txt">Ynpole</a>
		</div>
		<div class="ynpole-desc">
			<span>Get choices or decisions reviewed from your social network</span>
		</div>
	</div>
	{{> yield }}
	{{> yield 'loginTemplate'}}

	<div class="android-dlink">
		<a href="/files/ynpole.apk"><img src="/img/android.jpg"></a>
	</div>

	<div class="err-arrow-box">
		<span class="err-msg"></span>
	</div>

	<div id="verifyModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	  	
	  </div>
	</div>
</template>