<template name="layout">
    {{> ynheader}}

<!-- main body -->
<div id="ynpole-body">
  <div class="col-sm-2">
    {{> yield 'leftTemplate'}}
  </div>

  <div class="col-sm-6">
    {{> flashMessages}}
    {{> yield}}
  </div>

  <div class="col-sm-4">
    {{> yield 'rightTemplate'}}
  </div>
</div>
{{> questPlus}}

<!-- hidden blocks -->
{{> tooltips}}

<div class="pop-user-card">
  <div class="pop-content arrow-box"></div>
</div>

<div id="verifyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
  </div>
</div>

</template>