<template name="login">
	<div class="signup-grid">
	    <div class="signup-left">
	      <ul class="form-field">
			<li>
	  			<button id="google-login" class="fb-login-btn"> Sign Up with Google</button>
	  		</li>
	  		<li>
	  			<button id="facebook-login" class="fb-login-btn"> Sign Up with Facebook</button>
	  		</li>
	  		<li>
	  			<button id="twitter-login" class="fb-login-btn"> Sign Up with Twitter</button>
	  		</li>
	  		<li>
	  			<button id="email-signup" class="form-submit"> Sign Up with Email</button>
	  		</li>
		  </ul>
	    </div>
		<div class="signup-right">
			<form>
	  		<ul class="form-field">
	  			<li>
	  				<input type="email" id="login-email" placeholder="Email" class="register-input">
	  			</li>
	  			<li>
	  				<input type="password" id="login-password" placeholder="Password" class="register-input">
	  			</li>
	  			<li>
	  				<input type="submit" value="Log In" class="form-submit">
	  			</li>
	  		</ul>
			</form>
	
		</div>
	</div>
</template>