<template name="login">
	<div class="signup-grid">
	    <div class="signup-left">
	      <ul class="form-field">
	      	<li>
	  			<button id="google-login" class="oauth-btn"><i class="fa fa-google-plus"></i>&nbsp; Sign in with Google</button>
	  		</li>
			<li>
	  			<button id="facebook-login" class="oauth-btn"><i class="fa fa-facebook"></i>&nbsp; Sign in with Facebook</button>
	  		</li>
	  		<li>
	  			<button id="twitter-login" class="oauth-btn"><i class="fa fa-twitter"></i>&nbsp; Sign in with Twitter</button>
	  		</li>
	  		<li>
	  			<button id="email-signup" class="oauth-btn"><i class="fa fa-envelope"></i>&nbsp; Sign Up with Email</button>
	  		</li>
		  </ul>
	    </div>
		<div class="signup-right">
			<form>
	  		<ul class="form-field">
	  			<li>
	  				<input type="email" id="login-email" placeholder="Email" class="register-input">
	  			</li>
	  			<li>
	  				<input type="password" id="login-password" placeholder="Password" class="register-input">
	  			</li>
	  			<li>
	  				<input type="submit" value="Log In" class="form-submit">
	  			</li>
	  		</ul>
			</form>
	
		</div>
	</div>
</template>