<template name="emailNotVerified">
  <p>Please confirm your Email before you login from the verification email sent to you.<br>
    If you haven't recieved confirmation email, please <a role="button" class="send-verify-email" uid="{{userId}}">click here</a> to resend.
  </p>
</template>

<template name="verifyEmailExpired">
  <p>Sorry this verification link has expired. <a role="button" class="send-verify-email" uid="{{userId}}">Resend</a> the new link for confirmation?</p>
</template>

<template name="verifyEmailSent">
  <p>Verification Email has been sent successfully! Please check your inbox to confirm email verification.</p>
</template>

<template name="verifyEmailError">
  <p>Error sending email verification: {{error}}</p>
</template>

<template name="resetPassword">
	<div class="login-grid">
		<form>
	  		<ul class="signup-field">
	  			<li>
	  				<span style="font-weight:bold;font-size:14px;color:#666;">Choose a new Password</span>
	  			</li>
	  			<li>
	  				<input type="password" id="new-password" placeholder="New Password" class="register-input">
	  				<span class="fa fa-exclamation-circle errspan"></span>
	  			</li>
	  			<li>
	  				<input type="password" id="renter-password" placeholder="Confirm Password" class="register-input">
	  				<span class="fa fa-exclamation-circle errspan"></span>
	  			</li>
	  			<li>
	  				<div style="float:right; margin-top:5px;">
	  					<input type="submit" value="Reset" class="login-btn">
	  				</div>
	  			</li>
	  		</ul>
		</form>
	</div>
</template>