<template name="signup">
	<div class="signup-grid">
		<ul class="signup-field">
	      	<li>
	  			<a role="button" id="google-login" class="oauth-btn">
	  				<div class="oauth-idiv"><i class="fa fa-google-plus-square fa-2x"></i></div>
	  				<div class="oauth-tdiv"><span class="oauth-text">&nbsp;&nbsp;Sign in with Google</span></div>
	  			</a>
	  		</li>
			<li>
	  			<a role="button" id="facebook-login" class="oauth-btn">
	  				<div class="oauth-idiv"><i class="fa fa-facebook-official fa-2x"></i></div>
	  				<div class="oauth-tdiv"><span class="oauth-text">&nbsp;&nbsp;Sign in with Facebook</span></div>
	  			</a>
	  		</li>
	  		<li class="horizon-sep">or</li>
	  	<form>
	  		<li>
	  			<input type="email" id="reg-email" placeholder="Email" class="register-input validate-input" validate="email">
	  			<span class="fa fa-exclamation-circle errspan"></span>
	  		</li>
	  		<li>
	  			<input type="password" id="reg-password" placeholder="Create a password" class="register-input validate-input" validate="password">
	  			<span class="fa fa-exclamation-circle errspan"></span>
	  		</li>
	  		<li>
	  			<input type="text" id="reg-fullname" placeholder="First & Last name" class="register-input validate-input" validate="alpha">
	  			<span class="fa fa-exclamation-circle errspan"></span>
	  		</li>
	  		<li>
	  			<input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="reg-dob" placeholder="Date of Birth" class="register-input validate-input" validate="dob">
	  			<span class="fa fa-exclamation-circle errspan"></span>
	  		</li>
	  		<li>
	  			<label class="radio-label"><input type="radio" id="gender-m" name="reg-gender" value="Male" validate="gender"> Male</label>
	  			<label class="radio-label"><input type="radio" id="gender-f" name="reg-gender" value="Female" validate="gender"> Female</label>
	  			<span class="fa fa-exclamation-circle errspan" style="margin-top: 2px;" id="errGen"></span>
	  		</li>
	  		<li style="">
	  			<input type="submit" value="Sign Up" class="form-submit">
	  		</li>
	  	</form>
	  	</ul>
	</div>
</template>