.box-size{
	box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

/* Custom Bootstrap Modal */

.modal{
	top: 50px;
}
.modal-header{
	padding: 10px 15px;
	background-color: #ED2B2B;
	color: #fff;
}
.modal-body{
	min-height: 90px;
	background-color: #e9e9e9;
}

.modal-footer{
	padding: 6px 15px;
}

.btn-ynpole{
	background-color: #ED2B2B;
	color: #fff;
	border-color: #ccc;
	padding: 6px 18px;
}

.btn-default :hover{
	background-color: #ED2B2B;
	color: #fff;
}

/* End Bootstrap Modal */

textarea:focus, input:focus{
	outline: 0;
}

input[type="radio"], input[type="checkbox"]{
	vertical-align: middle;
	margin: 0px;
}

.radio-label{
	color: #444;
	margin-right: 10px;
	border: 1px solid #D0D1D5;
	border-radius: 3px;
	padding: 4px 10px;
	margin-bottom: 0;
}

.row{
	margin: 40px 80px 0;
}

.col-sm-2{ padding: 0; }
.col-sm-4{ padding: 0; }

.ynpole-txt{
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.5px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
}

.ynpole-div{
	display: block;
	padding: 10px 20px;
	margin-left: 120px;
}

.ynpole-desc{
	display: block;
	font-size: 18px;
	color: #fff;
	margin-left: 140px;
}

.ynpole-div a:hover{
	color: #fff;
}

#landing-body{
	display: block;
	width: 100%;
	height: 300px;
	background-color: #ED2B2B;
}

.register-input{
	border: 1px solid #D0D1D5;
	border-radius: 3px;
	padding: 10px;
	display: block;
	height: 38px;
	width: 100%;
	color: #333;
	font-size: 14px;
}

.form-submit{
	width: 100%;
	padding: 6px 24px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
	border: 1px solid #E31E1E;
	border-radius: 3px;
	color:#fff;
	background-image:linear-gradient(#ED2B2B,#E31E1E); /*linear-gradient(#BD1717,#A60D0D); #2953ad, #234ca2*/
	font-weight: bold;
	font-size: 14px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.32);
}

.login-btn{
	float: right;
	clear: both;
	width: 82px;
	padding: 4px 18px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
	border: 1px solid #E31E1E;
	border-radius: 3px;
	color:#fff;
	background-image:linear-gradient(#ED2B2B,#E31E1E);
	font-weight: bold;
	font-size: 14px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.32);
}

.login-links{
	color: #777;
	font-size: 12px;
	display: inline-block;
	float: left;
	clear: both;
}

.login-links ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.login-links>ul>li{
	width: 120px;
	margin: 0;
	margin-bottom: 4px;
}

.login-links span{
	cursor: pointer;
}

#forgot-pwd :hover{
	text-decoration: underline;
}

.signup-grid{
	display: inline-block;
 	background-color: #f1f1f1;
	padding: 18px;
	border: 1px solid #D0D1D5;
	border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	z-index: 201;
	position: absolute;
	top: 190px;
	left: 50%;
	transform: translate(-50%, 0);
}

.signup-field{
	list-style: none;
	padding: 0px;
}

.signup-field li{
	margin-bottom: 9px;
	text-align: center;
	width: 265px;
}

.signup-field a{
	text-decoration: none;
}
.signup-field a:hover{
	color: #f1f1f1;
}

.oauth-btn{
	display: block;
	width:100%;
	padding: 5px 48px 5px 16px;
	border-radius: 3px;
	color: #fff;
	text-align: left;
}

.oauth-btn :hover{ color: #fff; }

.oauth-text{
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
	letter-spacing: 0.1px;
}

.oauth-idiv{ display: inline-block; }
.oauth-tdiv{
	display: inline-block;
	vertical-align: super;
}

.horizon-sep{
	overflow: hidden;
	text-align: center;
	color: #a9a9a9;
	font-weight: bold;
}

.horizon-sep::before{
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 38%;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	margin-right: 10px;
}

.horizon-sep::after{
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 38%;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	margin-left: 10px;
}

#facebook-login{
	border: 1px solid #234ca2;
	background-image: linear-gradient(#2953ad, #234ca2);
}

#twitter-login{
	background-color: #55acee;
	border: 1px solid #3b88c3;
}

#google-login{
	background-color: #dd4b39;
	border: 1px solid #CC3B29;
}

#email-signup{
	background-image:linear-gradient(#ED2B2B,#E31E1E);
	border: 1px solid #E31E1E;
}

.my-brand{
	font-weight: bold;
	color: #fff;
	padding: 9px 15px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
}
.navbar{
	font-weight: bold;
	border-radius: 0 0 3px 3px;
	border-bottom: 1px solid #E31E1E;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.32);
	background-image: linear-gradient(#ED2B2B,#E31E1E);
	font-size: 13px;
	padding: 0 40px;
	min-height: 32px !important;
	height: 42px;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 2000;
}

.navbar-brand{
	font-size:23px;
}

.navbar-right{
	margin-right: 0;
}

.login-grid{
	display: inline-block;
 	background-color: #f1f1f1;
	padding: 9px;
	border: 1px solid #D0D1D5;
	border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	z-index: 201;
	position: absolute;
	top: 30px;
	right: 9%;
}

.post.signup-post{
	margin-bottom: 20px;
}

.signup-left{
	float: left;
	border-right: 1px solid #d2d2d2;
	padding: 5px 30px 5px 9px;
}
.signup-right{
	float: left;
	margin-left: 30px;
	margin-right: 9px;
}

.form-group .form-control{
	height:24px;
	font-weight: normal;
	width: 400px;
	border-radius: 3px;
}

.nav > li > a{
	padding: 10px 8px;
}

.nav > li > a :hover{
	color: #fff;
}
/*
.home-posts{
	margin-top: 110px;
} */

.post{
	display: block;
	background-color: #f1f1f1;
	border-radius: 3px;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}
.post-item{
	margin-top: 6px;
	padding: 9px 9px 0;
}

.post-content{
	background-color: #fff;
	padding: 4px 4px 2px;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}

.post-content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-res{
	text-align: center;
	background-color: #e1e1e1;
}
.post-res-img{
	max-width:100%;
	max-height: 275px;
}
.post-quest{
	margin-top: 4px;
	min-height: 60px !important;
}
.post-view{ cursor: pointer; }

.post-source{
	display: inline-block;
	float: right;
	margin-top: 2px;
	line-height: 1.2;
}

/*.post-source a{
	text-decoration: none;
	color: #666;
}*/

.post-author{
	font-size: 11px;
	text-decoration: none;
	color: #444;
	margin-left: 4px;
}

.post-footer{
	padding: 3px 0 5px;
	font-family: verdana;
}

.post-comments{
	display: none;
	background-color: #f8f8f8;
	margin: 0;
	padding: 9px 9px 0;
	border-radius: 0 0 3px 3px;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	font-size: 13px;
}

.pcom-disabled{
	pointer-events: none;
	opacity: 0.5;
}

.pcom-block{
	margin-bottom: 6px;
}

.pcom-avatar{
	display: inline-block;
	float: left;
	overflow: hidden;
}

.pcom-inputs{
	display: inline-block;
	background-color: #fff;
	padding: 0px;
	border: 1px solid #DFE0E4;
	border-radius: 2px;
	margin-left: 9px;
	overflow: hidden;
	width: 92%;
}

.pcom-input-write{
	display: inline-block;
	font-size: 13px;
	padding-left: 4px;
	width: 88%
}
.pcom-input-text{
	border: none;
	width: 100%;
	resize: none;
}

.pcom-input-res{
	display: inline-block;
	color: #CCC;
	font-size: 16px;
}

.pcom-input-image{
	display: inline-block;
	margin: 0 4px;
	cursor: pointer;
	color: #aaa;
}

.pcom-input-emoticon{
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
	color: #bbb;
}

.hidden-upload{
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
}

.pcom-item{	margin-bottom: 5px; }

.pcom-review{ margin-left: 39px; }

.pcom-review p{	margin-bottom: 0px; }

.pcom-body a{ text-decoration: none; }
.pcom-body a:hover{ color: #337ab7; }

.post-actions{ display: inline-block; }

.post-actions a{
	text-decoration: none;
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}
.vote-yes-btn{ 	color: #18BA18; }
.vote-yes-btn :hover{ color: #18BA18; }

.vote-no-btn{ color: #ED2B2B; }
.vote-no-btn :hover{ color: #ED2B2B; }
.voted { color: #999; }
.voted-yes{ color: #18BA18;}
.voted-no{ color: #ED2B2B;}

.vote-count{
	display: inline-block;
	width: 24px;
	margin: 0 4px 0 2px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #666;
}
.com-count{	font-size: 12px; }

.comments{
	display: inline-block;
	margin-left: 50px;
}

.comments a{
	color: #666;
}

.comments span{
	font-size:13px;
	padding: 0 4px;
}

.polarity{
	display: inline-block;
	float: right;
	clear: both;
	font-size: 12px;
}

.avatar{
	float:left;
	clear:both;
}

.comment-date{
	font-size: 11px;
	color: #777;
}


.add-question{
	margin: 9px 0;
	padding: 9px 9px 0;
}

.quest-topic{
	display: inline-block;
	width: 45%;
}

.ynpole-input{
	border: 1px solid;
	border-radius: 3px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	padding: 4px 10px;
	display: block;
	width: 100%;
	color: #333;
	font-size: 14px;
}
.quest-input-res{
	display: inline-block;
	color: #CCC;
	font-size: 16px;
	margin-left: 24%;
	margin-top: 4px;
}
.quest-input-res .pcom-input-image{
	vertical-align: sub;
}
.quest-input-res .pcom-input-emoticon{
	vertical-align: sub;
}
.quest-submit-div{
	display: inline-block;
	width: 14%;
	float: right;
	clear: both;
	margin-top: 3px;
}

.ynpole-btn{
	width: 100%;
	padding: 4px 10px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
	border-radius: 3px;
	border: 1px solid #E31E1E;
	color: #fff;
	background-image:linear-gradient(#ED2B2B,#E31E1E); /*linear-gradient(#BD1717,#A60D0D); #2953ad, #234ca2*/
	font-weight: bold;
	font-size: 13px;
/*	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.32); */
	text-decoration: none;
}

.ynpole-btn :hover{ color: #fff; }

.disabled-btn{
	width: 100%;
	padding: 4px 10px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
	border-radius: 3px;
	border: 1px solid #E31E1E;
	color: #ED2B2B;
	font-weight: normal;
	font-size: 13px;
	background-color: #EEE;
}

/* profile CSS */

.profile-avatar{
	display: inline-block;
	padding: 4px;
	background-color: #FFF;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	margin: 20px 0 0 35px;
}

.avatar-extra-large{
	width: 140px;
	height: 140px;
}

.avatar-mini{
	width: 14px;
	height: 14px;
}

.profile-info{
	padding: 9px 9px 0;
	margin-top: 20px;
	min-height: 150px;
	background-color: #fff;
}

.profile-info ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 13px;
}

.profile-name{
	font-size: 23px;
	font-weight: bold;
	color: #444;
}

.profile-title{
	color: #666;
	font-size: 13px;
	height: 18px;
}

.profile-about{
	color: #666;
	min-height: 47px;
	font-size: 13px;
	margin-top: 9px;
}

.profile-actions a{
	text-decoration: none;
	margin-right: 6px;
}

.profile-actions{
	text-align: right;
}

.profile-actions a:hover{
	color: #fff;
}

.profile-links{
	display: inline-block;
}

.profile-links a{
	font-size: 13px;
	color: #666;
}

.profile-links a:hover{
	color: #337ab7;
}

.vertical-sep{ border-left: 1px solid; }

.user-left-menu ul{
	list-style: none;
	margin: 0;
	margin-top: 8px;
	padding: 0;
}

.user-left-menu > ul > li{
	margin: 4px 0;
}
.user-left-menu > ul > li > a{
	text-decoration: none;
	padding: 4px 2px;
	color: #666;
}

.user-left-menu > ul > li > a:hover{ color: #337ab7; }

.user-left-menu{
	margin: 10px 0 0 35px;
	min-height: 300px;
	color: #666;
	font-size: 13px;
}

#user-follow-menu{ margin-top: 25px; }

#user-follow-menu li > a{ color: #999; }
#user-follow-menu li > a:hover{ color: #337ab7; }

.app-title{
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
}
.post-title{
	font-size: 11px;
	padding: 6px 9px;
	background-color: #fff;
	color: #666;
}
.side-menu-title{
	font-size: 11px;
	padding: 6px 0;
	margin-bottom: 9px;
	border-bottom: 1px solid #d2d2d2;
	color: #666;
}

.user-activity{
	margin-top: 15px;
}

.activity-item{
	margin-top: 6px;
}
.activity-item .post-item{
	margin-top: 0;
}

.activity-info{
	padding: 9px 9px 6px;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	background-color: #fff;
}

.activity-info ul{
	list-style-type: none;
	margin: 0;
}

.activity-info ul li{
	line-height: 1;
}

.activity-user{
	font-size: 13px;
	font-weight: bold;
	color: #444;
}

.activity-type{
	font-size:13px;
}

.follow-card{
	float: left;
	margin: 6px 1px 0 0;
}

#add-title{
	border: 1px solid;
	border-radius: 3px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	padding: 4px;
	display: block;
	width: 100%;
	color: #333;
	font-size: 13px;
}

#add-about{
	border: 1px solid;
	border-radius: 3px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	width: 100%;
	resize: none;
	overflow: hidden;
}

.user-details{
	padding: 9px 9px 0;
	margin-top: 20px;
	min-height: 600px;
}

.user-card ul{
	list-style-type: none;
}

.user-card{
	padding: 6px 6px 0;
	width: 260px;
	height: 94px;
	background-color: #fff;
}

.user-info{ margin-left: 45px; }

.user-card-name a{
	color: #444;
}

.user-card-name{
	color: #444;
	font-weight: bold;
	font-size: 14px;
}

.user-card-title{
	color: #666;
	font-size: 11px;
	height: 14px;
}

.user-follow-link{
	margin: 13px 0 0 0;
	float: right;
}

.user-follow-link a:hover{ color: #fff; }

.pop-user-card{
	display: inline-block;
	z-index: 2001;
	padding-bottom: 12px;
	border: 1px solid transparent;
	background: transparent;
}

.pop-user-card .user-card{
	border: none;
	margin: 0;
}

.pop-user-card :hover{
	visibility: visible;
}

.count-badge{
	display: inline-block;
	padding: 3px 3px;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	background-color: #337ab7;
	border-radius: 3px;
	position: absolute;
	left:17px;
	top: 3px;
	z-index: 201;
}

.notification-div ul{
	list-style-type: none;
	margin: 0;
}

.notification-div ul li{
	line-height: 1;
}

.notification-str{
	font-size: 12px;
}

.errspan{
	float: right;
    margin-right: 9px;
    margin-top: -31px;
    position: relative;
    z-index: 2;
    color: #CF4E4E;
    font-size: 24px;
    visibility: hidden;
}

.txt-ellipsis{
	max-width: 500px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.disabled-btn{
	border: 1px solid #d2d2d2;
	background-image: none;
	background-color: #d2d2d2;
	color: #999;
	pointer-events: none;
}
/*** invite template ***/
.email-invite{
	margin-top: 9px;
	padding: 6px;
	background-color: #f1f1f1;
}

.invite-envelope{
	display: inline-block;
	border-radius: 3px;
	font-size: 90px;
	padding: 0 25px;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -6%);
	color: #ed2b2b;
}

.email-invite a:hover{
	color: #fff;
}

#email-invite-input{
	border-radius: 3px 0 0 3px;
}

#email-invite-btn{
	border-radius: 0 3px 3px 0;
	padding: 6px 10px;
}