<template name="postItem">
	<div class="post">
		<div class="post-content">
			<ul>
				<li class="post-res"></li>
				<li class="post-quest">
					{{question}}
				</li>
				<li class="post-source">
					<a href="{{pathFor 'profile' _id=source_id}}" class="post-author"><span>{{asked_by}}</span></a>
				</li>
			</ul>
		</div>
		<div class="post-footer">
			<div class="post-actions">
				<a role="button" class="vote-yes-btn {{voteyClass}}"><span class=""><i class="fa fa-thumbs-up"></i> Yes </span></a>
				<span class="vote-count">&nbsp;{{yes_votes}}&nbsp;</span>&nbsp;&nbsp;&nbsp;
				<a role="button" class="vote-no-btn {{votenClass}}"><span class=""><i class="fa fa-thumbs-down"></i> No </span></a>
				<span class="vote-count">&nbsp;{{no_votes}}&nbsp;</span>
			</div>
			<div class="comments">
				<a role="button" class="comments-icon"><span><i class="fa fa-comments"></i></span></a>
				<span class="com-count">&nbsp;{{commentsCount}}&nbsp;</span>
			</div>
			<div class="polarity"><i class="fa fa-signal"></i>&nbsp;{{polarity}}</div>
		</div>
	</div>
	{{#if currentUser}}
	<div class="post-comments">
		{{> commentNew}}

		{{#each comments}}
			{{> commentItem}}
		{{/each}}
	</div>
	{{/if}}
</template>