<template name="postItem">
	<div class="post-item post">
		<div class="post-content">
			<ul>
				<li class="post-res post-view">
					{{#if img_fsid}}
					{{#with image}}
						<img src="{{this.url}}" class="post-res-img">
					{{/with}}
					{{/if}}
				</li>
				<li class="post-quest post-view">
					{{question}}
				</li>
			<!--	<li class="post-source">
					<div style="display: inline-block;" class="pop-user" uid="{{source_id}}">
						<a href="{{pathFor 'profile' _id=source_id}}">{{> avatar userId=source_id size="extra-small" class="avatar-mini"}}</a>
						<a href="{{pathFor 'profile' _id=source_id}}" class="post-author"><span>{{asked_by}}</span></a>
					</div>
				</li> -->
			</ul>
		</div>
		<div class="post-footer">
			<div class="post-actions">
				<a role="button" class="vote-yes-btn {{voteyClass}}"><span><i class="fa fa-thumbs-up"></i> YES </span></a>
				<div class="vote-count">{{yes_votes}}</div>
				<a role="button" class="vote-no-btn {{votenClass}}"><span><i class="fa fa-thumbs-down"></i> NO </span></a>
				<div class="vote-count">{{no_votes}}</div>
			</div>
			<div class="comments">
				<a role="button" class="comments-icon"><i class="fa fa-comments-o"></i><span>Comments</span></a>
				<div class="vote-count">{{commentsCount}}</div>
			</div>
		<!--	<div class="polarity"><i class="fa fa-signal"></i>&nbsp;{{polarity}}</div> -->
			<div class="post-source">
				<div style="display: inline-block;" class="pop-user" uid="{{source_id}}">
					<a href="{{pathFor 'profile' _id=source_id}}">{{> avatar userId=source_id size="extra-small" class="avatar-mini"}}</a>
					<a href="{{pathFor 'profile' _id=source_id}}" class="post-author"><span>{{asked_by}}</span></a>
				</div>
			</div>
		</div>
	</div>
	{{#if currentUser}}
	<div class="post-comments">
		{{> commentNew}}

		{{#each comments}}
			{{> commentItem}}
		{{/each}}
	</div>
	{{/if}}
</template>