<template name="activityItem">
	<div class="activity-item">
		<div class="activity-info">
				<div><a href="/{{userId}}">{{> avatar userId=userId size="small"}}</a></div>
				<div>
					<ul>
						<li>
							<a href="/{{userId}}" class="activity-user" uid="{{userId}}">{{userName}}</a><span class="activity-type">
							{{#if isAsked}}
								asked a question
							{{/if}}
							{{#if isReviewed}}
								reviewed {{#if revIcon}} <i class="{{revIcon}}"></i> {{/if}} to a question
							{{/if}}
							{{#if isFollowed}}
								followed <a href="/{{user._id}}" class="activity-user">{{user.profile.name}}</a>
							{{/if}}
							{{#if isCommented}}
								commented on a <a href="{{pathFor 'question' _id=sourceId}}">question</a>
							{{/if}}
							</span>
						</li>
						<li>
							<span class="comment-date">{{formatTime created_at}}</span>
						</li>
					</ul>
				</div>
		</div>
		{{#if post}}
			{{> postItem post}}
		{{/if}}
		{{#if user}}
		<div class="following-card">
			{{> userCard user}}
		</div>
		{{/if}}
	</div>
</template>