<template name="inviteEmail">
	<div class="post email-invite">
		<div class="app-title side-menu-title">Invite friends</div>
		<div class="invite-envelope"><i class="fa fa-envelope"></i></div>
		<div class="input-group">
			<input type="text" class="ynpole-input" id="email-invite-input" placeholder="Friend's Email">
			<span class="input-group-btn">
				<a role="button" class="ynpole-btn {{btnDisabled}}" id="email-invite-btn">Invite</a>
			</span>
		</div>
	</div>

	{{> _googleContacts }}
</template>