<template name="profile">
	<div class="post profile-info">
		<ul>
			<li class="profile-name">{{profile.name}}</li>
			<li>
				<div class="profile-title">
					{{#if isOwner _id}}
						{{#if editTitle}}
							<input type="text" placeholder="Add a title" id="add-title" name="add_title" value="{{profileBars.title}}" autofocus />
						{{else}}
							<div id="editable-title" class="txt-ellipsis">
								{{#if profileBars.title}}
									{{profileBars.title}}
								{{else}}
								Add a title
								{{/if}}
							</div>
						{{/if}}
					{{else}}
						{{profile.title}}
					{{/if}}
				</div>
			</li>
			<li>
				<div class="profile-about">
					{{#if isOwner _id}}
						{{#if editAbout}}
							<textarea name="add_about" id="add-about" placeholder="Write about yourself..." class="box-size" rows="2" autofocus>{{profileBars.about}}</textarea>
						{{else}}
							<div id="editable-about">
								{{#if profileBars.about}}
									{{profileBars.about}}
								{{else}}
								Write about yourself...
								{{/if}}
							</div>
						{{/if}}
					{{else}}
						{{profile.about}}
					{{/if}}
				</div>
			</li>
			<li class="profile-actions">
				<div class="profile-links">
					<a role="button">Message</a>
				</div>
				{{#if isOwner _id}}
					<span class="disabled-btn">Followers&nbsp;&nbsp;<span class="vertical-sep"></span>&nbsp;&nbsp;{{followersCount _id}}</span>
				{{else}}
					<a role="button" id="{{followBtn _id}}-profile" class="ynpole-btn">{{followBtn _id}}&nbsp;&nbsp;<span class="vertical-sep"></span>&nbsp;&nbsp;{{followersCount _id}}</a>
				{{/if}}
			</li>
		</ul>
	</div>

	<div class="user-activity">
		<div class="post post-title app-title"><span>{{activityTitle}}</span></div>
		{{#if isPost}}
			{{#each activities}}
				{{> activityItem}}
			{{/each}}
		{{else}}
			{{#each followUsers}}
				<div class="follow-card">
					{{> userCard}}
				</div>
			{{/each}}
		{{/if}}
	</div>
</template>