<template name="profile">
	<div class="post profile-info">
		<ul>
			<li class="profile-name">{{profile.name}}</li>
			<li>
				<div class="profile-title">
					{{#if isOwner}}
						{{#if editTitle}}
							<input type="text" placeholder="{{profileBars.title}}" id="add-title" name="add_title" />
						{{else}}
							<span id="editable-title">{{profileBars.title}}</span>
						{{/if}}
					{{else}}
						{{profile.title}}
					{{/if}}
				</div>
			</li>
			<li>
				<div class="profile-about">
					{{#if isOwner}}
						{{#if editAbout}}
							<textarea name="add_about" id="add-about" placeholder="{{profileBars.about}}" class="box-size" rows="2"></textarea>
						{{else}}
							<span id="editable-about">{{profileBars.about}}</span>
						{{/if}}
					{{else}}
						{{profile.about}}
					{{/if}}
				</div>
			</li>
			<li class="profile-actions">
				<div class="profile-links">
					<a role="button">Message</a>
				</div>
				{{#if isOwner}}
				<span class="disabled-btn">Followers&nbsp;&nbsp;<span class="vertical-sep"></span>&nbsp;&nbsp;0</span>
				{{else}}
				<a role="button" id="{{followBtn.id}}" class="ynpole-btn">{{followBtn.value}}&nbsp;&nbsp;<span class="vertical-sep"></span>&nbsp;&nbsp;{{followersCount _id}}</a>
				{{/if}}
			</li>
		</ul>
	</div>

	<div class="user-activity">
		<div class="side-menu-title post"><span>{{activityTitle}}</span></div>
		{{#each activities}}
			{{> activityItem}}
		{{/each}}
	</div>
</template>