<template name="userCard">
	<div class="post user-card">
		<div class="user-head">
			<div class="user-avatar">{{> avatar user=this size="large"}}</div>
			<div class="user-info">
				<ul>
					<li class="user-card-name"><a href="{{pathFor 'profile' _id=_id}}">{{profile.name}}</a></li>
					<li class="user-card-title">{{profile.title}}</li>
				</ul>
			</div>
		</div>
		<div class="user-followers"></div>
		<div class="user-follow-link">
			{{#if isOwner _id}}
				<span class="disabled-btn">Followers&nbsp;&nbsp;<span class="vertical-sep"></span>&nbsp;&nbsp;{{followersCount _id}}</span>
			{{else}}
				<a role="button" class="ynpole-btn {{followBtn _id}}-user">{{followBtn _id}}&nbsp;&nbsp;<span class="vertical-sep"></span>&nbsp;&nbsp;{{followersCount _id}}</a>
			{{/if}}
		</div>
	</div>
</template>