<template name="userLeft">
	<div class="profile-avatar">
		{{> avatar user=this class="avatar-extra-large"}}
	</div>

	<div class="user-left-menu">
		<div class="side-menu-title"><span class="">Feeds</span></div>
		<ul>
			<li><a role="button" id="show-all-activity">All Activity</a></li>
			<li><a role="button" id="show-questions">Questions</a></li>
			<li><a role="button" id="show-reviewed">Reviewed</a></li>
		</ul>
		<ul id="user-follow-menu">
			<li><a role="button" id="show-followers">Followers {{followersCount _id}}</a></li>
			<li><a role="button" id="show-following">Following {{followingCount _id}}</a></li>
		</ul>
	</div>
</template>