<template name="commentNew">
	<div class="pcom-block">
		<div class="pcom-avatar">{{> avatar user=currentUser size="small"}}</div>
		<div class="pcom-inputs {{pcomDisabled.className}}">
			<div class="pcom-input-write">
				<textarea name="rbody" placeholder="{{pcomDisabled.placeHolder}}" class="pcom-input-text box-size" rows="1"></textarea>
			</div>
			<div class="pcom-input-res">
				<div class="pcom-input-image">
					<i class="fa fa-camera"></i>
				</div>
				<div class="pcom-input-emoticon">
					<i class="fa fa-smile-o"></i>
				</div>
			</div>
		</div>
	</div>
</template>